In [15]:
# Importing libraries 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
# loading the sales dataset
data=pd.read_csv("sales.csv")
data

              date    id  category_id  sales  views  price_cost  price_retail
0        2/24/2022     1            3      0      0           0             0
1        2/25/2022     1            3      0      0           0             0
2        2/26/2022     1            3      0      0           0             0
3        2/27/2022     1            3      0      0           0             0
4        2/28/2022     1            3      0      0           0             0
...            ...   ...          ...    ...    ...         ...           ...
1048570   2/5/2023  1433            1      1    466        5645          7900
1048571   2/6/2023  1433            1      0    109        5645          7900
1048572   2/7/2023  1433            1      1     71        5645          7900
1048573   2/8/2023  1433            1      0     59        5526          7900
1048574   2/9/2023  1433            1      0    170        5526          7900

[1048575 rows x 7 columns]

In [21]:
data.describe()

,id,category_id,sales,views,price_cost,price_retail
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06
mean,7.167398e+02,1.589886e+00,4.178595e-01,3.911584e+01,1.230658e+04,1.792421e+04
std,4.135215e+02,6.485615e-01,5.441326e+00,1.451634e+02,1.888889e+04,2.768563e+04
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.590000e+02,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.170000e+02,2.000000e+00,0.000000e+00,9.000000e+00,3.760000e+03,7.774000e+03
75%,1.075000e+03,2.000000e+00,0.000000e+00,3.300000e+01,1.840000e+04,2.648900e+04
max,1.433000e+03,4.000000e+00,1.372000e+03,4.314800e+04,2.925730e+05,7.590770e+05

In [3]:
# checking the total rows and columns of the sales dataset
data.shape

(1048575, 7)

In [4]:
# getting some knowledge about the sales dataset 
data.info

<bound method DataFrame.info of               date    id  category_id  sales  views  price_cost  price_retail
0        2/24/2022     1            3      0      0           0             0
1        2/25/2022     1            3      0      0           0             0
2        2/26/2022     1            3      0      0           0             0
3        2/27/2022     1            3      0      0           0             0
4        2/28/2022     1            3      0      0           0             0
...            ...   ...          ...    ...    ...         ...           ...
1048570   2/5/2023  1433            1      1    466        5645          7900
1048571   2/6/2023  1433            1      0    109        5645          7900
1048572   2/7/2023  1433            1      1     71        5645          7900
1048573   2/8/2023  1433            1      0     59        5526          7900
1048574   2/9/2023  1433            1      0    170        5526          7900

[1048575 rows x 7 columns]>

In [9]:
data.corr()["price_retail"]

C:\Users\Admin\AppData\Local\Temp\ipykernel_9396\3338298824.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()["price_retail"]

id              0.002171
category_id    -0.403444
sales          -0.036247
views           0.043023
price_cost      0.905458
price_retail    1.000000
Name: price_retail, dtype: float64

In [7]:
# Let's sum the total of sales column from the sales dataset
sum_sales=data['sales'].sum()
print("The total of sales column is : ",sum_sales)

The total of sales column is :  438157

In [17]:
# Preparing features and target
x=data[['sales','views','price_cost']]
y=data['price_retail']

In [22]:
x.head()

   sales  views  price_cost
0      0      0           0
1      0      0           0
2      0      0           0
3      0      0           0
4      0      0           0

In [18]:
# splitting data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
# create and train the model
model=LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [20]:
# make predictions 
y_pred = model.predict(x_test)

In [25]:
print("Making predictions for the following 5 sales:")
print(x.head())
print("The price_retail predictions are")
print(model.predict(x.head()))

Making predictions for the following 5 sales:
   sales  views  price_cost
0      0      0           0
1      0      0           0
2      0      0           0
3      0      0           0
4      0      0           0
The price_retail predictions are
[1658.74279632 1658.74279632 1658.74279632 1658.74279632 1658.74279632]